[Unit]
Description=NFE Drop - Watcher (monitor de pasta incoming)
After=network.target

[Service]
User={{ login_user }}
Group={{ login_user }}
WorkingDirectory={{ app_source_dir }}
ExecStart={{ app_source_dir }}/bin/nfe-drop-watcher
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target