---
- name: Garante que dependências do Go estão instaladas
  apt:
    name:
      - wget
      - git
    state: present
    update_cache: true

- name: Verifica se o Go já está instalado
  command: go version
  register: go_version_check
  ignore_errors: true

- name: Instala Go pelo apt se não estiver presente
  apt:
    name: golang
    state: present
    update_cache: true
  when: go_version_check.rc != 0
