---
# Role: docker-engine
# Instala Docker e garante serviço ativo.
# Não força instalação do plugin docker-compose, porque isso varia por distro
# e no seu ambiente o 'docker compose' já está funcionando.

- name: Instala pacotes base para Docker
  apt:
    name:
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
    state: present
    update_cache: true

- name: Instala docker.io (engine principal)
  apt:
    name: docker.io
    state: present
    update_cache: true

- name: Garante que serviço docker está habilitado e rodando
  systemd:
    name: docker
    enabled: true
    state: started
